mixin image(name, source)
  img(src=source alt=name)

//- TODO: Load smaller images on smaller viewports
mixin picture(index, name, source)
  picture
    //- First few images are gif and should not be lazy loaded
    if (index < 10)
      img(
        src=`${source}`
        alt=`Screenshot of ${name} project`
        decoding='async'
        onerror="this.style.display='none'"
        width='512'
        height='409')
    else
      //- Load webp images if supported
      source(
        srcset=`${source}-1024x819.webp`
        type='image/webp')
      img(
        src=`${source}-1024x819.png`
        alt=`Screenshot of ${name} project`
        loading='lazy'
        decoding='async'
        onerror="this.style.display='none'"
        width='512'
        height='409')
